{
    "presets": [
        "es2015-loose",
        "react"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-function-bind",
        [
            "transform-es2015-classes",
            {
                loose: true
            }
        ]
    ]
}